<ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="overviewLink" class="nav-link" href="#">Overview</a>
    </li>
    <li class="nav-item">
      <a id="testrunsLink" class="nav-link" href="#">Test Runs</a>
    </li>
    <li class="nav-item">
      <a id="testsuitesLink" class="nav-link" href="#">Test Suites</a>
    </li>
</ul>