<ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="overview" class="nav-link" href="#">Overview</a>
    </li>
    <li class="nav-item">
      <a id="testruns" class="nav-link" href="#">Test Runs</a>
    </li>
    <li class="nav-item">
      <a id="testsuites" class="nav-link" href="#">Test Suites</a>
    </li>
</ul>