<% include partials/header%>
<div class="container" id="showContainer">
    <%include partials/nav%>
    <div class="loading" id="loading">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    
    
</div>

<% include partials/footer%>
<script src="../../scripts/project.js"></script>